.footer {
    padding-top: 70px;
    background: #1F2B6C;
}

.footer__container {
    max-width: 992px;
    margin: 0 auto;
}

.footer__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}

.footer__item {
    display: flex;
    flex-direction: column;
    color: #FCFEFE;
    margin-bottom: 20px;
}

.footer__item a {    
    text-decoration: none;
    color: #FCFEFE;
    margin-bottom: 10px;
    transition: 0.3 ease;
}

.footer__item a:hover {
    color: #159EEC;
    transition: 0.3 ease;
}

.footer__item p {
    margin-bottom: 10px;
}

.footer__item input {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background: #BFD2F8;
    font-size: 16px;
    color: #1F2B6C;
    cursor: pointer;
}

.footer__logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #BFD2F8;
    text-transform: uppercase;
}

.footer__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.footer__text {
    font-size: 18px;
    color: #FCFEFE;
}

.footer__divider {
    border: 1px solid #BFD2F8;
    margin-bottom: 46px;
}