body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.doctors {
    max-width: 992px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 40px 40px;
    margin-bottom: 64px;
}